.home {
  width: 80%;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "info-col toolbar"
    "info-col feed";
  grid-template-columns: 200px auto;
  grid-template-rows: 40px auto;
}

.home .toolbar {
  grid-area: toolbar;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.home .toolbar-link {
  font-weight: 700;
  color: black;
  margin: 0 1rem;
}
.home .toolbar-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.home .toolbar-link.active {
  text-decoration: underline;
}

.home .story,
.home .feed {
  grid-area: feed;
  padding: 1rem;
  /* border: 1px solid #ccc; */
}

.home .user-info-modal {
  width: 400px;
  padding: 2rem;
}

.home .user-info-modal-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: .2rem;
}

.home .user-info-modal-list {
}

.user-info-modal-close-btn {
  width: 100px;
  margin: 2rem auto 0;
  background: #1da1f2;
  color: white;
  border-radius: 8px;
  text-align: center;
  padding: 8px;
  cursor: pointer;
}

.publish-status-modal {
  width: 400px;
  padding: 2rem;
}

.publish-status-modal-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.publish-status-modal-input textarea {

}

.publish-status-modal-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.publish-status-modal-submit-btn,
.publish-status-modal-cancel-btn {
  width: 100px;
  margin: 1rem 1rem 0;
  cursor: pointer;
  background: #1da1f2;
  color: white;
  border-radius: 8px;
  text-align: center;
  padding: 8px;
  cursor: pointer;
}

